.die__container {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 0 auto;
}

.die__die {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform .25s;
}

.die__side {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

/* front */
.die__side-1 {
  transform: rotateY(0deg) translateZ(100px);
  background: #ff595e;
}

/* right */
.die__side-2 {
  transform: rotateY(90deg) translateZ(100px);
  background: #ffCa3a;
}

/* back */
.die__side-3 {
  transform: rotateY(180deg) translateZ(100px);
  background: #8ac926;
}

/* left */
.die__side-4 {
  transform: rotateY(-90deg) translateZ(100px);
  background: #1982c4;
}

/* top */
.die__side-5 {
  transform: rotateX(90deg) translateZ(100px);
  background: #6a4c93;
}

/* bottom */
.die__side-6 {
  transform: rotateX(-90deg) translateZ(100px);
  background: #1aebcb;
}

/* spins die to appropriate side */
.die__show-side-1 {
  transform: translateZ(-100px) rotateY(0deg);
}

.die__show-side-2 {
  transform: translateZ(-100px) rotateY(-90deg);
}

.die__show-side-3 {
  transform: translateZ(-100px) rotateY(-180deg);
}

.die__show-side-4 {
  transform: translateZ(-100px) rotateY(90deg);
}

.die__show-side-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}

.die__show-side-6 {
  transform: translateZ(-100px) rotateX(90deg);
}

/* spins die backwards a full turn */
/* used when same number is rolled multiple times in a row */
.die__show-side-1--back {
  transform: translateZ(-100px) rotateY(360deg);
}

.die__show-side-2--back {
  transform: translateZ(-100px) rotateY(270deg);
}

.die__show-side-3--back {
  transform: translateZ(-100px) rotateY(180deg);
}

.die__show-side-4--back {
  transform: translateZ(-100px) rotateY(-270deg);
}

.die__show-side-5--back {
  transform: translateZ(-100px) rotateX(270deg);
}

.die__show-side-6--back {
  transform: translateZ(-100px) rotateX(-270deg);
}
