body,
input,
textarea,
button {
  font-family: 'Cabin', sans-serif;
}

body {
  background: #eee;
}

.game-container {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 565px;
  text-align: center;
  background: white;
  border-radius: 5px;
}

.game-instructions {
  position: absolute;
  top: 50px;
  left: 0;
  width: 400px;
  color: #999;
  text-align: center;
}

.stack-container {
  box-sizing: border-box;
  margin: 30px auto 4px auto;
  width: 200px;
  height: 166px;
}

.stack-column {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 166px;
  vertical-align: bottom;
}

.stack-column-inner-container {
  position: absolute;
  bottom: 0;
}

.stack-die {
  box-sizing: border-box;
  margin-top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 1px;
}

.stack-die-1 {
  background: #ff595e;
}

.stack-die-2 {
  background: #ffCa3a;
}

.stack-die-3 {
  background: #8ac926;
}

.stack-die-4 {
  background: #1982c4;
}

.stack-die-5 {
  background: #6a4c93;
}

.stack-die-6 {
  background: #1aebcb;
}

.die-scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin: 0 auto;
}

.die {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform .25s;
}

.die-side {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

.side-1 {
  transform: rotateY(0deg) translateZ(100px);
  background: #ff595e;
}

.side-2 {
  transform: rotateY(90deg) translateZ(100px);
  background: #ffCa3a;
}

.side-3 {
  transform: rotateY(180deg) translateZ(100px);
  background: #8ac926;
}

.side-4 {
  transform: rotateY(-90deg) translateZ(100px);
  background: #1982c4;
}

.side-5 {
  transform: rotateX(90deg) translateZ(100px);
  background: #6a4c93;
}

.side-6 {
  transform: rotateX(-90deg) translateZ(100px);
  background: #1aebcb;
}

.show-side-1 {
  transform: translateZ(-100px) rotateY(0deg);
}

.show-side-2 {
  transform: translateZ(-100px) rotateY(-90deg);
}

.show-side-3 {
  transform: translateZ(-100px) rotateY(-180deg);
}

.show-side-4 {
  transform: translateZ(-100px) rotateY(90deg);
}

.show-side-5 {
  transform: translateZ(-100px) rotateX(-90deg);
}

.show-side-6 {
  transform: translateZ(-100px) rotateX(90deg);
}

.controls-container {
  font-size: 0; /* to remove default space between buttons */
  width: 200px;
  margin: 25px auto 0 auto;
}

.controls-btn {
  width: 98px;
  height: 33px;
  font-size: 18px;
  letter-spacing: .5px;
  color: white;
  background: #999;
  padding: 2px 0 0 0;
  margin: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.roll-btn {
  margin-right: 4px;
}

.reset-btn {

}

.controls-btn:hover {
  background: #333;
}

.controls-btn:focus {
  outline: 0;
}

.controls-btn:disabled {
  cursor: not-allowed;
  border: 1px dashed #bbb;
  background: none;
  color: #bbb;
}

.roll-result {
  margin-top: 25px;
  color: #999;
}

.winner {
  font-size: 34px;
  color: #333;
}
