html, body {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-family: 'Cabin', sans-serif;
}

body {
  background: #eee;
}

.main__game-container {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  height: 565px;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #b8e0f5;
}

.main__game-instructions {
  position: absolute;
  top: 50px;
  left: 0;
  width: 400px;
  color: #999;
  text-align: center;
}

.main__controls-container {
  font-size: 0; /* to remove default space between buttons */
  width: 200px;
  margin: 25px auto 0 auto;
}

.main__controls-btn {
  width: 98px;
  height: 33px;
  font-size: 18px;
  letter-spacing: .5px;
  color: white;
  background: #999;
  padding: 2px 0 0 0;
  margin: 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 2px 0 0 #666;
}

.main__roll-btn {
  margin-right: 4px;
}

.main__controls-btn:hover {
  background: #333;
  box-shadow: 0 2px 0 0 black;
}

.main__controls-btn:focus {
  outline: 0;
}

.main__controls-btn:disabled {
  cursor: not-allowed;
  border: 1px dashed #bbb;
  background: none;
  color: #bbb;
  padding: 1px 0 2px 0;
  box-shadow: none;
}

.main__roll-result {
  margin-top: 25px;
  color: #999;
}

.main__winner {
  font-size: 34px;
  color: #333;
}

#main__confetti {
  box-sizing: border-box;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background: #ecf8fe;
}
